<div class = "row">
   <div class="col-md-12 col-sm-12 col-xs-12">
        <div class ="x_panel">
            <div class="x_title">
                <div class="col-md-6">
                    <h3> Geo presentation </h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="col-md-9 col-sm-12 col-xs-12" style="width:100%">
                            <div id="map" name="map"></div>
                        </div>
                    </div>

                    <!-- Container for legend and toc layers -->
                    <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                        <div class="x-title">
                            <h4 class="line_30">TOC and Legend</h4>
                        </div>
                        <div class="clearfix"></div>
                        <div class="x-content">
                            <div class role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="TocTabs" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab_toc_content" id="TOC" role="tab" data-toggle="tab" aria-expanded="true">
                                            TOC
                                        </a>
                                    </li>
                                    <li role="presentation" class>
                                        <a href="#tab_legend_content" id="Legend" role="tab" data-toggle="tab" aria-expanded="false">
                                            Legends
                                        </a>
                                    </li>
                                </ul>
                                <div id="TocTabsContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_toc_content" aria-labelledby="TOC">
                                        <h4> Layer Manager </h4>
                                    </div>
                                    <div id="tab_legend_content" class="tab-pane fade" role="tabpanel" aria-labelledby="Legend">
                                        <h4> Legends </h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Container for legend and toc layers -->
                </div>
            </div>
        </div>
    </div>
</div>

 <link rel="stylesheet" href="https://openlayers.org/en/v3.20.0/css/ol.css" type="text/css"/>
 <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
 <script src="https://openlayers.org/en/v3.20.0/build/ol.js"></script>
<script>
     var earthquakeFill = new ol.style.Fill({
        color: 'rgba(255, 153, 0, 0.8)'
      });
      var earthquakeStroke = new ol.style.Stroke({
        color: 'rgba(255, 204, 0, 0.2)',
        width: 1
      });
      var textFill = new ol.style.Fill({
        color: '#fff'
      });
      var textStroke = new ol.style.Stroke({
        color: 'rgba(0, 0, 0, 0.6)',
        width: 3
      });
      var invisibleFill = new ol.style.Fill({
        color: 'rgba(255, 255, 255, 0.01)'
      });

      function createEarthquakeStyle(feature) {
        // 2012_Earthquakes_Mag5.kml stores the magnitude of each earthquake in a
        // standards-violating <magnitude> tag in each Placemark.  We extract it
        // from the Placemark's name instead.
        var name = feature.get('name');
        var magnitude = parseFloat(name.substr(2));
        var radius = 5 + 20 * (magnitude - 5);

        return new ol.style.Style({
          geometry: feature.getGeometry(),
          image: new ol.style.RegularShape({
            radius1: radius,
            radius2: 3,
            points: 5,
            angle: Math.PI,
            fill: earthquakeFill,
            stroke: earthquakeStroke
          })
        });
      }

      var maxFeatureCount, vector;
      function calculateClusterInfo(resolution) {
        maxFeatureCount = 0;
        var features = vector.getSource().getFeatures();
        var feature, radius;
        for (var i = features.length - 1; i >= 0; --i) {
          feature = features[i];
          var originalFeatures = feature.get('features');
          var extent = ol.extent.createEmpty();
          var j, jj;
          for (j = 0, jj = originalFeatures.length; j < jj; ++j) {
            ol.extent.extend(extent, originalFeatures[j].getGeometry().getExtent());
          }
          maxFeatureCount = Math.max(maxFeatureCount, jj);
          radius = 0.25 * (ol.extent.getWidth(extent) + ol.extent.getHeight(extent)) /
              resolution;
          feature.set('radius', radius);
        }
      }

      var currentResolution;
      function styleFunction(feature, resolution) {
        if (resolution != currentResolution) {
          calculateClusterInfo(resolution);
          currentResolution = resolution;
        }
        var style;
        var size = feature.get('features').length;
        if (size > 1) {
          style = new ol.style.Style({
            image: new ol.style.Circle({
              radius: feature.get('radius'),
              fill: new ol.style.Fill({
                color: [255, 153, 0, Math.min(0.8, 0.4 + (size / maxFeatureCount))]
              })
            }),
            text: new ol.style.Text({
              text: size.toString(),
              fill: textFill,
              stroke: textStroke
            })
          });
        } else {
          var originalFeature = feature.get('features')[0];
          style = createEarthquakeStyle(originalFeature);
        }
        return style;
      }

      function selectStyleFunction(feature) {
        var styles = [new ol.style.Style({
          image: new ol.style.Circle({
            radius: feature.get('radius'),
            fill: invisibleFill
          })
        })];
        var originalFeatures = feature.get('features');
        var originalFeature;
        for (var i = originalFeatures.length - 1; i >= 0; --i) {
          originalFeature = originalFeatures[i];
          styles.push(createEarthquakeStyle(originalFeature));
        }
        return styles;
      }

      vector = new ol.layer.Vector({
        source: new ol.source.Cluster({
          distance: 40,
          source: new ol.source.Vector({
            url: 'https://openlayers.org/en/v3.20.0/examples/data/kml/2012_Earthquakes_Mag5.kml',
            format: new ol.format.KML({
              extractStyles: false
            })
          })
        }),
        style: styleFunction
      });

      var raster = new ol.layer.Tile({
        source: new ol.source.Stamen({
          layer: 'toner'
        })
      });

      var map = new ol.Map({
        layers: [raster, vector],
        interactions: ol.interaction.defaults().extend([new ol.interaction.Select({
          condition: function(evt) {
            return evt.originalEvent.type == 'mousemove' ||
                evt.type == 'singleclick';
          },
          style: selectStyleFunction
        })]),
        target: 'map',
        view: new ol.View({
          center: [0, 0],
          zoom: 2
        })
      });
    </script>