
    <!--<div class="menu_section">-->
        <!--<h3>TOC</h3>-->
        <!--<ul class="nav side-menu">-->
            <!--<li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>-->
                <!--<ul class="nav child_menu">-->
                    <!--<li><a href="index.html">Dashboard</a></li>-->
                    <!--<li><a href="index2.html">Dashboard2</a></li>-->
                    <!--<li><a href="index3.html">Dashboard3</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    {% comment %}
        menu_sections is a list json structure consisting of childmenus and links
        menu_section json structure is
        title : string title of the menu section
        menu_name: string menu name
        href: href link to trigger the action. if set has_children should be set to false indicating this is top level menu
        has_children: boolean if true a chevron will be inserted in html
        menu_name_class: css class names to be applied to the menu name (fa fa-desktop
        children: sub-menu items list of json structure

        children json strcture:
            name: string name of the sub menu
            href: string href link to trigger the action.

    {% endcomment %}

    {% for menu_section in menu_sections %}
    <div class="menu_section">
        <h3>{{ menu_section.section_title }}</h3>
        {% if menu_section.has_children %}
        {% for menu in menu_section.children %}
        <ul class="nav side-menu">
            <li>
                <a {% comment %}
                    insert href if the menu item has href
                {% endcomment %}
                {% if menu_section.href %}
                    href="{{ menu.href }}"
                {% endif %} >
                <i class="{{ menu.style_class }}"></i> {{ menu.name }}
                {% if menu.has_children %}
                    <span class="fa fa-chevron-down"></span>
                {% endif %}
                </a>
                {% if menu.has_children %}
                <ul class="nav child_menu">
                    {% for child in menu.children %}
                    <li>
                        <a
                        {% if child.href %}
                            href="{{ child.href }}"
                        {% endif %}
                        >{{ child.name }} </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        </ul>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <!--<div class="menu_section">-->
                <!--<h3>Live On</h3>-->
                <!--<ul class="nav side-menu">-->
                  <!--<li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                      <!--<li><a href="e_commerce.html">E-commerce</a></li>-->
                      <!--<li><a href="projects.html">Projects</a></li>-->
                      <!--<li><a href="project_detail.html">Project Detail</a></li>-->
                      <!--<li><a href="contacts.html">Contacts</a></li>-->
                      <!--<li><a href="profile.html">Profile</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                      <!--<li><a href="page_403.html">403 Error</a></li>-->
                      <!--<li><a href="page_404.html">404 Error</a></li>-->
                      <!--<li><a href="page_500.html">500 Error</a></li>-->
                      <!--<li><a href="plain_page.html">Plain Page</a></li>-->
                      <!--<li><a href="login.html">Login Page</a></li>-->
                      <!--<li><a href="pricing_tables.html">Pricing Tables</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                        <!--<li><a href="#level1_1">Level One</a>-->
                        <!--<li><a>Level One<span class="fa fa-chevron-down"></span></a>-->
                          <!--<ul class="nav child_menu">-->
                            <!--<li class="sub_menu"><a href="level2.html">Level Two</a>-->
                            <!--</li>-->
                            <!--<li><a href="#level2_1">Level Two</a>-->
                            <!--</li>-->
                            <!--<li><a href="#level2_2">Level Two</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a href="#level1_2">Level One</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>-->
                <!--</ul>-->
    <!--</div>-->
